# APP
PORT=3000
NODE_ENV=development
APP_NAME=EventTicketingAPI

# DATABASE
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=yourpassword
DB_NAME=event_ticketing

# AUTH
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
QR_SIGNING_SECRET=

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379

# FLUTTERWAVE
FLW_PUBLIC_KEY=
FLW_SECRET_KEY=
FLW_ENCRYPTION_KEY=
FLW_WEBHOOK_HASH=

# SUPABASE
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_SERVICE_ROLE_KEY=

SUPABASE_EVENT_BANNERS_BUCKET=event-banners
SUPABASE_TICKETS_BUCKET=tickets

# EMAIL
SMTP_HOST=smtp.resend.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
MAIL_FROM=noreply@yourdomain.com
